body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


/* Для кнопки "Отправить" */
button[type="submit"] {
    color: blue; /* Цвет текста синий */
}

/* Для текста "Прикрепить файл" */
label.custom-file-upload {
    color: green; /* Цвет текста зеленый */
}


.contact-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    box-sizing: border-box;
}

.contact-form h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
    text-align: left;
}

.contact-form p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
}

.contact-form label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 100px;
    resize: vertical;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: left;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.captcha {
    margin-bottom: 15px;
    text-align: left;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
